OBJECT ORIENTED PROGRAMMING

In [1]:
class Employee:
    salary = 350000

In [3]:
kemi = Employee()
print(kemi.salary)

350000

In [5]:
class Employee:
    def __init__(self, name, age, salary, position, department, marital_status):
        self.name = name
        self.age = age
        self.salary = salary
        self.position = position
        self.department = department
        self.marital_status = marital_status
        
    def add_age(self):
        self.age += 1
        
    def get_age(self):
        return "Age is {}".format(self.age)

In [9]:
staff_1 = Employee("kemi", 25, 500000, "manager", "Finance", "married")

In [10]:
staff_1.name

'kemi'

In [11]:
staff_2 = Employee("chris", 32, 250000, "associate", "HR", "single")

In [12]:
staff_2.name

'chris'

In [13]:
staff_2.age

32

In [14]:
staff_2.add_age()

In [15]:
staff_2.age

33

In [16]:
staff_2.get_age()

'Age is 33'

Encapsulation

In [34]:
class Sports:
    def __init__(self):
        self.__sportsName = "Soccer"
    
    def game(self):
        print("the game is: {}". format(self.__sportsName))
    
    def change_name(self, name):
        self.__sportsName = name

In [35]:
s = Sports()
s.game()

the game is: Soccer

In [36]:
s.__sportsName = 'Hockey'
s.game()

the game is: Soccer

In [37]:
s.change_name('Hockey')
s.game()

the game is: Hockey